.boton{
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:#5e8cb5;
        background:white;
        border: 3px simple #5e8cb5;
        height:19px;
       }
       
.boton_form {
    background: #5e8cb5 none repeat scroll 0 0;
    border: 1px solid #ededef;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 130px;
}       

.linktitulo {COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linktitulo:link {TEXT-DECORATION: none; COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linktitulo:active {TEXT-DECORATION: none; COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linktitulo:visited {TEXT-DECORATION: none; COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linktitulo:hover {TEXT-DECORATION: none; COLOR:#F3AC6C; FONT-WEIGHT: bold} 

.linknave {COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linknave:link {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linknave:active {TEXT-DECORATION: none; COLOR: #c4b6ff; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linknave:visited {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linknave:hover {TEXT-DECORATION: none; COLOR:#F3AC6C; FONT-WEIGHT: bold} 

.linkmenu {COLOR: #FFFFFF; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkmenu:link {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkmenu:active {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkmenu:visited {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkmenu:hover {TEXT-DECORATION: none; COLOR:#ffffff; FONT-WEIGHT: bold} 

.linkcampo {COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkcampo:link {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkcampo:active {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkcampo:visited {TEXT-DECORATION: none; COLOR: #F3AC6C; FONT-FAMILY: tahoma; FONT-SIZE: 12px}
A.linkcampo:hover {TEXT-DECORATION: none; COLOR:#F3AC6C; FONT-WEIGHT: bold} 

.linktab {COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab:link {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab:active {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab:visited {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab:hover {TEXT-DECORATION: none; COLOR:#5e8cb5; background-color:ebf3f7; FONT-WEIGHT: bold} 

.linktab2 {COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab2:link {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab2:active {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab2:visited {TEXT-DECORATION: none; COLOR: #5e8cb5; FONT-FAMILY: tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold}
A.linktab2:hover {TEXT-DECORATION: none; COLOR:#5e8cb5; background-color:ffffff; FONT-WEIGHT: bold}    

.linktab3 {COLOR: #ff0000; FONT-FAMILY: tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold}
A.linktab3:link {TEXT-DECORATION: none; COLOR: #ff0000; FONT-FAMILY: tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold}
A.linktab3:active {TEXT-DECORATION: none; COLOR: #ff0000; FONT-FAMILY: tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold}
A.linktab3:visited {TEXT-DECORATION: none; COLOR: #ff0000; FONT-FAMILY: tahoma; FONT-SIZE: 11px; FONT-WEIGHT: bold}
A.linktab3:hover {TEXT-DECORATION: none; COLOR:#5e8cb5; background-color:ffffff; FONT-WEIGHT: bold}    
